body, div, h1, form, fieldset {
	margin: 0; padding: 0; border: 0; outline: none;
}

html {
	height: 100%;
}

body {
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #A3A3A3 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#A3A3A3)); /* webkit */
	font-family: sans-serif;
}

#info {
	width: 90%; margin: 10px auto 20px auto; padding: 10px; text-align: center;
	background: #e6e6e6; border: 1px solid #999999;
	font-size: 11px; color: #333333;
}

#info a {
	color: #666666; text-decoration: none;
}

#info a:hover {
	color: #666666; text-decoration: underline;
}

#files {
    border:  1px solid #e9e9e9;
    background:  none repeat scroll 0 0 #D3D3D3;
    -moz-border-shadow:  0 0 8px #444444;
    margin:  20px auto;
    padding:  10px;
    width:  600px;
    text-align:  center;
    border-spacing:  0;
    border-collapse: collapse;
}

#files table {
    border-spacing: 1px;
    background-color: white;
    width: 600px;
}

#files th {
    padding:  5px;
    background-color:  #333333;
    color:  #e3e3e3;
    font-size:  12px;
}

#files td {
    padding:  5px;
    color:  #444444;
    font-size:  10px;
    background-color: #e3e3e3;
}

#files td.odd {
    padding:  5px;
    color:  #444444;
    font-size:  10px;
    background-color: #e9e9e9;
}

#error {
	width: 600px; margin: 20px auto; padding: 10px;
	background: #d3d3d3; border: 1px solid #e9e9e9;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

#postfile {
	width: 450px; margin: 20px auto; padding: 20px 10px;
	background: #d3d3d3; border: 1px solid #e9e9e9;
	-moz-box-shadow: 0px 0px 8px #444;
	-webkit-box-shadow: 0px 0px 8px #444;
}

h1 {
	font-size: 30px; color: #333333; text-transform: uppercase;
	text-align: center; margin: 0 0 15px 0; text-shadow: 0px 1px 0px #f2f2f2;
}

label {
	float:left; clear: left; margin: 4px 25px 0 0; width: 95px;
	text-align: right; font-size: 12px; color: #333333;
	text-transform: uppercase; 
}

input {
	padding: 2px 5px 2px 5px; margin: 0 0 12px 0;
	font-family: sans-serif; font-size: 11px; color: #666666; 
}

input[type=text] {
	width: 300px;
}

input[type=submit] {
	float: right; padding: 2px 5px 2px 5px; margin: 0 30px 12px 0;
	font-family: sans-serif; font-size: 11px; color: #333333; 
}

textarea {
	height: 150px; width: 300px; padding: 2px 5px 0px 5px; margin: 0 0 12px 0;
	font-family: sans-serif; font-size: 11px; color: #666666; resize: none;
}


